.x-link {
	cursor: pointer
}

.x-link img {
	width: 16px;
	height: 16px;
	margin-bottom: -3px;
	margin-right: 5px; 
}

.west-welcome {
	background-image: url(../images/welcome.png);
}

.west-membermanage {
	background-image: url(../images/member_management.png);
}

.west-shoppingmanage {
	background-image: url(../images/shopping-16.png);
}

.west-statistics {
	background-image: url(../images/reports_management.png);
}

.west-smsmanage {
	background-image: url(../images/sms-manage-16.png);
}

.west-message {
	background-image: url(../images/info_prompt.png);
}

.west-configuration {
	background-image: url(../images/system_management.png);
}

.icon-member-detail {
	background-image: url(../images/user-16.png);
}

.icon-member-consume {
	background-image: url(../images/shopping-16.png);
}
.icon-member-welcome {
	background-image: url(../images/star.png);
}
.icon-member-info {
	background-image: url(../images/member_info-16.png);
}
.icon-member-deposit {
	background-image: url(../images/deposit-16.png);
}

.icon-member-withdraw {
	background-image: url(../images/withdrawal-16.png);
}

.big-button .x-btn-inner{
	font-size : 18px;	
}
.link-visited{
	color:#405090;
	background-color:rgba(65,150,190,0.2);
	font-weight:bold;
	font-family: '微软雅黑';
	font-size: 14px;
}
#accountName{
	text-align: center;
	background-color: blue;
}
.fontlink{
	text-decoration: none;
	color: #000;
	font-family: 微软雅黑;
	font-size: 12px;
}
.fontlink:hover{
	color: blue;
}