
html{
	font-size: 20px;
	font-weight: bold;
}

/* login panel css styles */
.loginPanel .fieldSet{
	text-align: center;
	padding:10px;
	padding-top: 15px;
}
.loginPanel .button{
	margin:10px;
}
.loginPanel{
	background-color: #fff;
}
/* end of login panel css styles block */






/* main panel css style*/
.mainpanel .scanBtn{
	background-color: #157efb;
}
.mainpanel .x-tab{
	height: 2.4em;
}
.mainpanel .x-tabbar.x-docked-bottom{
	min-height: 2.4em;
}
.scanBtn.x-tab .x-button-icon:before{
	color: #fff;
}
.scanBtn .x-button-icon{
	color: #fff;
}
.scanBtn.x-tab .x-button-label{
	color: #fff;
}
.mainpanel .x-tab .x-button-icon{
	width: 100%;
	height: 100%;
}
/* end of main panel css style*/




/* stream list css*/
.stream-list{
	background-color: #eef2f5;
}
.stream-list .itemlist{
	height: 100%;
}
.stream-list .post-item{
   	margin: 20px;
   	min-height: 400px;
   	background-color: #fff;
   	border-radius: 10px;
   	border:1px #888;
}
.stream-list .x-scroll-indicator {
    opacity: 0 !important;
}

/* end of stream list css*/




/*user profile css*/
.user-profile .profiles{
	margin:15px;
}
.user-profile .user-avatar{
	font-size: 80px;
	font-family: 'icomoon';
}
.user-avatar-inner{
	/*color: #157efb;*/
	color: #bababa;
	border-right: 1px solid #bababa;
	padding-right: 15px;
}
.user-avatar:before{
	content:'\e60b';
}

.user-profile-info{
	margin-left: 15px; 
	text-align: center;
	font-size: 16px;
}

.user-account-info-label{
	font-style: italic;
	color: #bababa;
}

.user-card-type{
	margin-left: 15px; 
	font-size:20px;
	text-align: center;
}

.user-card-type-label{
	border:1px solid #bababa;
	background-color: #e0e0e0;
	border-radius: 4px;
	padding: 0 20px;
}

.user-profile .credits{
	text-align: center;
	font-size: 15px;
	border-top: 1px solid #bababa;
	border-bottom: 1px solid #bababa;
}
.user-profile .buttons{
	
}

[class*="user-action-"]{
	width: 40vw;
	height: 40vw;
}
.user-profile .user-action-top-left{
	margin:20px 10px 10px 20px;
}
.user-profile .user-action-top-right{
	margin:20px 20px 10px 10px;
}
.user-profile .user-action-bottom-left{
	margin:10px 10px 20px 20px;
}

.user-profile .user-action-bottom-right{
	margin:10px 20px 20px 10px;
}
/*end of profile css*/




/* fix cupertino css bugs and custom some css styles */
.x-form-fieldset .x-field:before{
	left: 0px;
}
.x-form-field {
	padding:0 15px;
}
.x-mask .x-mask-inner{
	background: rgba(0, 0, 0, 0.3);
}
.x-mask .x-mask-inner .x-mask-message{
	color:#fff;
}
.x-loading-spinner{
	color: #fff;
}
.x-navigation-bar.x-dock-item.x-docked-top{
	background-color: #f6f6f8;
}
.x-button-label{
	font-weight: bold;
}
.x-form .x-scroll-container{
	background-color: #eef2f5;
}
.x-input-el.x-form-field.x-input-text,.x-input-el.x-form-field.x-input-number{
	font-weight: bolder;
	color:#8e8e8e;
}
