
html{
	font-weight: bold;
}
body{
	background:url('../images/background.jpg') no-repeat;
	background-size: 100% 100%;
}

/* login panel css styles */
.loginPanel .fieldSet{
	text-align: center;
	padding:10px;
	padding-top: 15px;
}
.loginPanel .button{
	margin:10px;
}
.loginPanel{
	background-color: #ff0000;
}
/* end of login panel css styles block */



/*quick login css styles*/
.quick-login{
	background: url('../images/login_bg.jpg') no-repeat;
	background-size: 100% 100%;
}
.x-form .x-scroll-container, .x-inner.x-form-fieldset-inner{
	background-color: rgba(0,0,0,0);
}

.quick-login input::-webkit-input-placeholder { color:#ffffff; }
.quick-login input::-moz-placeholder { color:#ffffff; } /* firefox 19+ */
.quick-login input:-ms-input-placeholder { color:#ffffff; } /* ie */
.quick-login, .quick-login .x-input-el.x-form-field.x-input-text{
	color: #ffffff;
}
.quick-login .x-form-fieldset .x-form-fieldset-inner{
	border:0px;
}
.quick-login .login-btn{
	border-color: #fff;
	min-width:70vw;
	background-color: rgba(255,255,255,0.2);
	color:#fff;
}
.quick-login .login-btn span{
	color: #fff;
}
/*quick login css styles*/



/* main panel css style*/
.mainpanel{
	background-color: rgba(0,0,0,0);
}
.mainpanel .x-button-label{
	color: #fff;
}
.mainpanel .scanBtn{
	background-color: #157efb;
}
.mainpanel .x-tab{
	height: 2.4em;
}
.mainpanel .x-tabbar.x-docked-bottom{
	min-height: 2.4em;
}
.scanBtn.x-tab .x-button-icon:before{
	color: #fff;
}
.scanBtn .x-button-icon{
	color: #fff;
}
.scanBtn.x-tab .x-button-label{
	color: #fff;
}
.mainpanel .x-tab .x-button-icon{
	width: 100%;
	height: 100%;
}

.x-toolbar.x-docked-top {
	border-bottom: 1px solid rgba(255,255,255,0.3);
}
.x-toolbar .x-title{
	color:#fff;
}

.x-button-icon.x-shown.icon-home{
	color:#edb61f;
	-webkit-text-stroke-color: #edb61f;
}
.x-button-icon.x-shown.icon-newspaper{
	color:#edb61f;
	-webkit-text-stroke-color: #edb61f;
}
.x-tab.x-tab-active .x-button-icon:before{
	color: #edb61f;
}

.x-tabbar-dark.x-tabbar.x-dock-item.x-docked-bottom{
	background-color: rgba(20,20,20,0.9);
	border:0px;
}
.x-tab-active {
	background-color: rgba(0,0,0,0);
}
/* end of main panel css style*/




/* stream list css*/
.stream-list{
	background-color: rgba(0,0,0,0);
	color: #ffffff;
}
.stream-list .itemlist{
	height: 100%;
}
.stream-list .post-item{
   	margin: 15px;
   	min-height: 300px;
   	background-color: rgba(0,0,0,0.5);
   	border:1px #888;
}
.stream-list .x-scroll-indicator {
    opacity: 0 !important;
}
.stream-list .item-title{
	margin: 10px;
}
.stream-list .item-content{
	margin: 0 10px 10px 10px;
	font-size:12px;
}
.stream-list .item-picture{
	margin: 0;
	min-height: 60vw;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.stream-list .item-publish-date{
	font-size: 12px;
	margin: 5px;
}
/* end of stream list css*/




/*user profile css*/
.user-profile{
	background-color: rgba(0,0,0,0);
	color:#fff;
}
.user-profile .profiles{
	margin:10px;
}
.user-profile .user-avatar{
	font-size: 18vw;
	font-family: 'icomoon';
}
.user-avatar-inner{
	/*color: #157efb;*/
	color: #fff;
	padding-right: 15px;
}
.user-avatar:before{
	content:'\e60b';
}

.user-profile-info{
	text-align: center;
	font-size: 16px;
	border-top:3px solid rgba(0,0,0,0.5);
	background-color: rgba(255,255,255,0.25);
}

.user-account-info-label{
	color: #b06618;
	font-size: 13px;
}

.user-account-number{
	font-size: 5vw;
}


.user-card-type-label{
	font-size:13px;
}

.user-profile .credits{
	text-align: center;
	color: #fff;
	background-color: rgba(0,0,0,0.6);
}
.credits .user-account-info-label{
	color: #fff;
	font-size: 13px;
}
.credits .user-rates-label{
	font-size: 5vw;
}

.user-profile .user-account-info{
	line-height: 90%;
}


.user-profile .x-button{
	-webkit-box-align: end;
}
[class*="user-action-"]{
	width: 40vw;
	height: 40vw;
	background-color: rgba(0,0,0,0);
	border:0px;
}
.user-profile .user-action-top-left{
/*	margin:10px 5px 5px 10px;*/
	background: url('../images/top_left_btn.png') no-repeat;
	background-size:34vw 34vw;
	background-position:center top;
}
.user-profile .user-action-top-right{
/*	margin:10px 10px 5px 5px;*/
	background: url('../images/top_right_btn.png') no-repeat;
	background-size:34vw 34vw;
	background-position:center top;
}
.user-profile .user-action-bottom-left{
/*	margin:5px 5px 10px 10px;*/
	background: url('../images/bottom_left_btn.png') no-repeat;
	background-size:34vw 34vw;
	background-position:center top;
}
.user-profile .user-action-bottom-right{
/*	margin:5px 10px 10px 5px;*/
	background: url('../images/bottom_right_btn.png') no-repeat;
	background-size:34vw 34vw;
	background-position:center top;
}
/*end of profile css*/






/*css of charge view*/
.bg_deposit{
	background: url('../images/bg_deposit.jpg') no-repeat;
	background-size: 100% 100%;
}
.charge .fast-charge{
	margin: 10px;
	background-color: #d4695f;
	border:0px;
}
.charge .x-form-label span{
	font-size: 12px;
}
.charge .x-form-fieldset .x-form-fieldset-inner{
	border:0px;
	border-bottom: 1px solid #fff;
}
.charge .x-input-el.x-form-field.x-input-number{
	text-align: right;
	font-size: 20px;
}
.charge .x-form-label span{
	position: absolute;
	bottom: 0;
}
.charge .x-form-label{
	padding:0px;
	width:10%;
}
.charge,.chargesuccess{
	background: rgba(0,0,0,0);
}
.chargesuccess .success-tag{
	width: 10vw;
	height: 10vw;
	background: url('../images/success-red.png') no-repeat;
	background-size: 100% 100%;
}
.chargesuccess .charge-label-success{
	font-size: 10vw;
	color: #d44a43;
}
/*end of charge view css*/




/*consume view css*/
.bg_consume{
	background: url('../images/bg_consume.jpg') no-repeat;
	background-size: 100% 100%;
}
.consume,.consumesuccess{
	background: rgba(0,0,0,0);
}
.consume .x-item-disabled input{
	color: #000;
}
.consume .payfor input{
	color: #449900;
	font-size: 25px;
}
.consume .x-form-fieldset .x-form-fieldset-inner, .consume .x-field-text.x-field {
	border:0px;
	border-bottom: 1px dashed #c0c4c8;
}
.consume .x-form-label span{
	font-size: 12px;
}
.consumesuccess .success-tag{
	width: 10vw;
	height: 10vw;
	background: url('../images/success-green.png') no-repeat;
	background-size: 100% 100%;
}
.consumesuccess .consume-label-success{
	font-size: 10vw;
	color: #7cadab;
}
/*end of consume view css*/




/*withdraw css styles*/
.bg_withdraw{
	background: url('../images/bg_withdraw.jpg') no-repeat;
	background-size: 100% 100%;
}
.withdraw,.withdrawsuccess{
	background: rgba(0,0,0,0);
}
.withdraw .x-form-fieldset .x-form-fieldset-inner, .withdraw .x-field-text.x-field ,.withdraw .x-container.x-field-number.x-field {
	border:0px;
	border-bottom: 1px solid #fff;
}
.withdraw .x-input-el.x-form-field.x-input-number{
	text-align: right;
	font-size: 20px;
}
.withdraw .x-form-label span{
	font-size: 12px;
}
/*end of withdraw css styles*/



/* fix cupertino css bugs and custom some css styles */
.x-field-input.x-item-disabled{
	color: #000;
}

.x-field{
	background: rgba(0,0,0,0);
}

.x-form .x-scroll-container{
	background: rgba(0,0,0,0);
}

.x-form-fieldset .x-field:before{
	left: 0px;
}
.x-form-field {
	padding:0 15px;
}
.x-mask .x-mask-inner{
	background: rgba(0, 0, 0, 0.3);
}
.x-mask .x-mask-inner .x-mask-message{
	color:#fff;
}
.x-loading-spinner{
	color: #fff;
}
.x-navigation-bar.x-dock-item.x-docked-top{
	background-color: #f6f6f8;
}
.x-button-normal .x-button-label,.x-button-back .x-button-label,.x-button.x-button-back:before{
	font-weight: bold;
	color: #fff;
}

/*.x-input-el.x-form-field.x-input-text,.x-input-el.x-form-field.x-input-number{
	font-weight: bolder;
	color:#8e8e8e;
}*/

/*loading mask styles*/
.x-loading-spinner > span.x-loading-top{
	background-color: rgba(255,255,255,0.99);
}
.x-loading-spinner > span.x-loading-top::before{
	background-color: rgba(255,255,255,0.15);
}
.x-loading-spinner > span.x-loading-top::after{
	background-color: rgba(255,255,255,0.9);
}


.x-loading-spinner > span.x-loading-right{
	background-color: rgba(255,255,255,0.25);
}
.x-loading-spinner > span.x-loading-right::before{
	background-color: rgba(255,255,255,0.3);
}
.x-loading-spinner > span.x-loading-right::after{
	background-color: rgba(255,255,255,0.2);
}


.x-loading-spinner > span.x-loading-bottom{
	background-color: rgba(255,255,255,0.4);
}
.x-loading-spinner > span.x-loading-bottom::before{
	background-color: rgba(255,255,255,0.5);
}
.x-loading-spinner > span.x-loading-bottom::after{
	background-color: rgba(255,255,255,0.35);
}


.x-loading-spinner > span.x-loading-left{
	background-color: rgba(255,255,255,0.7);
}
.x-loading-spinner > span.x-loading-left::before{
	background-color: rgba(255,255,255,0.8);
}
.x-loading-spinner > span.x-loading-left::after{
	background-color: rgba(255,255,255,0.6);
}


/*end of loading mask styles*/


/*用来渐变背景图片的*/
.x-container.x-navigationview{
	background-color: rgba(0,0,0,0);
}
.x-navigation-bar.x-dock-item.x-docked-top {
	background-color: rgba(0,0,0,0);
}